{% extends "base.html" %}
{% block content %}

    <h1>{{ title }}</h1>
    <p>{{ text }}</p>
    <hr>
    {% comment %} Цикл шаблонизатора {% endcomment %}
    {% for category in categories %}
    
    <p>Это категория: {{ category.name }}</p>
    <p>Слаг: {{ category.slug }}</p>

    {% comment %} Хардкордный URL {% endcomment %}
    <a href="{{ category.slug}}">{{ category.name }}</a>

    {% comment %} Правильное написание URL(шаблонный тег URL) {% endcomment %}
    <a href="{% url "blog:category_detail" category.slug %}">{{ category.name }}</a>
    {% comment %} Пример ссылки с get_absolut_url {% endcomment %}
    <a href="{{ category.get_absolut_url }}">{{ category.name }}</a>
    <hr>
    {% endfor %}
    {% endblock content %}