{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock title %}


{% block content %}
    <h1>{{ title }}</h1>
    <p>{{ text }}</p>
    <hr>
    {% comment %} Условия в шаблонизаторе Django {% endcomment %}
{% if user_status == "admin" %}
<p>Здравствуй Админ!</p>
{% elif user_status == "moderator" %}
<p>Здравствуй модератор!</p>
{% else %}
<p>Здравствуй смертный!</p>
{% endif %}
{% if user_status in "admin moderator editor" %}
    <p>У вас есть права на редоктирование</p>
{% endif %}
{% endblock content %}